 *, *::before, *::after {
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
 }

<style> 
/* Medium and small screens (640px) */
 @media (min-width: 640px) {
     html { font-size: 80%; }
 }

 /* Large screens (1024px) */
 @media (min-width: 1024px) {
     html { font-size: 100%; }
 }
</style>

html {
     height: 100%; 
     font-size: 100%;
 }

body {
    font-family: Roboto Slab, sans-serif;
    min-height: 100%;
}

h1, h2, h3, h4, h5 {
    font-family: Roboto, sans-serif;
}

h1, h2, h3, h5 {
    text-transform: uppercase;
}

body.utt-landing {
    background-color: gainsboro;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    max-height: 500px;
}

.utt-nav {
    padding: 0.5rem, 0.5rem, 0.5rem, 0.5rem;
    margin-bottom: 2%;
}

.utt-nav .utt-logo {
    margin: 1rem;
    position: relative;
    left: 1.5rem;
    height: 40px;
}

.hero-image-div {
    width: 100%;
    background-image: url(../assets/images/DSC_0056%202%20dark.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.utt-hero {
    position: relative; 
    min-height: 450px;  /* hero content element must be _at least_ 600 pixels */
}

.utt-hero-head {
    color: aliceblue;
    margin-top: 20%;
    position: relative;
    top: 50%;
    transform: translateY(-40%);
    width: 100%;                    /* makes sure the title inhabits the full width of its container */
    text-align: center;             /* aligns text in the horizontal center of the element */
    font-size: 3rem;                /* specifies the size of the font in root em units */
    font-weight: 300;               /* makes the font thinner or lighter weight */
    text-transform: uppercase;      /* transforms the text to be all uppercase lettering */
    letter-spacing: 0.8rem;         /* puts 0.5 root ems worth of space between each letter */
    margin-bottom: 5%;
}

.utt-hero-text {
    font-family: 'Roboto', sans-serif;
    color: aliceblue;
    margin-top: 2rem;
    position: relative;
    -webkit-transform: translateY(-10%);
    -moz-transform: translateY(-10%);
    -ms-transform: translateY(-10%);
    transform: translateY(-10%);
    width: 100%;
    font-size: 1.8rem;
    font-weight: 100;
    text-align: center;
    margin-top: 5%;
    line-height: 1.5;
}

.down-chevron {
    position: relative;
    bottom: 10%;
    height: 3rem;
    text-align: center;
    left: 47%;
}

.feature-head {
    font-family: 'Roboto', sans-serif;
    font-weight: 400; 
}

.feature-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.shirt-ribbon {
    position: absolute;
    width: 100%;
    min-height: 350px;
    background-image: url(/assets/images/shirt%20ribbon.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.shirt-ribbon-head {
    color: black;
    position: relative;             /* positioning will be explained in a resource */
    margin-top: 9%;                       /* positioning will be explained in a resource */
    -webkit-transform: translateY(-20%);
    -moz-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    transform: translateY(-20%);
    width: 60%;                    /* makes sure the title inhabits the full width of its container */
    text-align: center;             /* aligns text in the horizontal center of the element */
    font-size: 2rem;                /* specifies the size of the font in root em units */
    font-weight: 300;               /* makes the font thinner or lighter weight */
    text-transform: uppercase;      /* transforms the text to be all uppercase lettering */
    letter-spacing: 0.5rem;         /* puts 0.5 root ems worth of space between each letter */
    margin-bottom: 2%;
}

.shirt-ribbon-text {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
    margin-bottom: 5%;
    padding-left: 1%;
    padding-right: 1%;
    color: black;
    width: 60%;
}

.utt-shadow-button {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-align: center;
    bottom: 15%;
    color: black;
    width: 200px;
    margin-bottom: 2%;
    margin-left: 20%;
    border: 4px solid black;
}

.utt-shadow-button:hover {
    color: white;
    background-color: black;
}

.utt-feature-section {
    position: relative;
    padding: 2%;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

 .utt-container {
     margin: 0 auto;
     max-width: 64rem;
 }

.utt-feature {
    display: table-cell;
    position: relative;
    padding: 2rem;
    text-align: center;
}

.feature-head {
    font-size: 1.25rem;

}


 .utt-column {
     float: left;
     padding-left: 1rem;
     padding-right: 1rem;
 }
 
 .utt-column.full { width: 100%; }
 .utt-column.two-thirds { width: 66.7%; }
 .utt-column.half { width: 50%; }
 .utt-column.third { width: 33.3% }
 .utt-column.fourth { width: 25%; }
 .utt-column.flow-opposite { float: right; }  
}


.ion-tshirt {
    color: black;
    font-size: 5rem;
}

.ion-ios-heart {
    color: black;
    font-size: 5rem;
}

.ion-waterdrop {
    color: black;
    font-size: 5rem;
}

.utt-photos-section {
    position: relative;
    min-height: 300px;
    background-color: black;
}

.utt-photo-1 {
    float: left;
    width: 33.3%;
    height: 300px;
    background-image: url(/assets/images/DSC_0291.JPG);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.utt-photo-2 {
    float: left;
    width: 33.3%;
    height: 300px;
    background-image: url(/assets/images/DSC_0197.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.utt-photo-3 {
    float: left;
    width: 33.3%;
    height: 300px;
    background-image: url(/assets/images/DSC_0048.JPG);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.clearfix::before,
.clearfix::after {
   content: " ";
   display: table;
}

.clearfix::after {
   clear: both;
}
